.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.my_navbar {
  background-color: #e8f0fe;
  border-radius: 0.5;
}

.nav-link {
  color: #212529;
}

.btn {
  background-color: #3784A6;
  color: white;
  border-radius: 6px;
}

body {
  background-image: url("https://res.cloudinary.com/dpz9dn6cr/image/upload/v1686511841/health-background_va4m5a.jpg");
  background-size: cover;
}

h1 {
  color: #3784A6;
}

.my-navbar-brand{
  color: #3784A6;
  font-weight: bold;
}

.my-nav-item {
  color: #3784A6;
}

.navbar .navbar-toggler{
  border-color: #3784A6;
  color: #e8f0fe;
  }
  